<% provide(:title, "About") %>


<h1>About Us</h1>
<p>
Based Co. Carlow, SilverBeech.ie is an exclusively online garden centre. 
Founded in 2015 we have expanded significantly in recent years thanks to our commitment to top qaulity products. 
We also offer competitive prices on a huge range of flowers, trees, shrubs, and tools.
</p>
<p>
At SilverBeech.ie, we have something for everyone, whether you are a beginner or a seasoned gardener.
</p>

<p>
Earlier this year we redeveloped our web site to offer our customers a great online shopping experience. We would
appreciate your feedback on your user experience.

<p>
We are passionate about encouraging sustainable gardening practices so that we can promote biodiversity and 
protect the environment. This is why we have Ireland's largest range of organically grown flowers and shrubs. 
</p>
<p>
If you have any questions about your gardening requirements please get in touch with us via our <a href="/help">Help</a> page. 
</p>

<br>
<br>

<%= render 'layouts/search' %>
<br>
<%= render 'layouts/categories' %>

