<h1>Admin Page</h1>


<br>

<h2>You can give administrative rights to a user in this section:</h2>

<br>
<br>
<br>

<b>Enter the username:   </b><input type="text" name="newAdmin" style="float;"><br>
<br>
<br>

<a href = "/adminUpdate" class = "button">Submit</a>
<br>
<br>

<br>
<br>
<h2>View all order details:</h2>
<a href="/orders" class="button">View Orders</a>
 
<br>
<br>
<br>
<h2>Manage product categories:</h2>
<a href="/categories" class="button">Categories</a>


