<h1>Admin Page</h1>


<br>

<b>You can enter give admin rights to a user in this section</b>

<br>
<br>
<%= form_tag("/adminUpdate", :method => "post") do %>
<%= label_tag(:q, "Enter the user name:") %>
<%= text_field_tag(:q) %>
<%= submit_tag("Save") %>
<% end %>

<br>

<% if user_signed_in? %>
  
        
<a href="/orders" class="button">View Orders</a>
 
<% end %>
<br>


<br>

<a href="/categories" class="button">Categories</a>


