<% provide(:title, "Help") %>
<h1>Contact Us</h1>
<p>
  At Silver Beech Garden Store we pride ourselves and our commitment to customer service.
  Don't hesitate to get in touch should you require any assistance.
</p>

<br>

<h2>Contact Details</h2>
<br>
<p>
  
The most efficient way to contact us is by email. We give top priority to emailed queries & normally you will have a detailed response
within 60 mins during working hours. Note that queries involving garden designs, planting plans & irrigation plans can take up to 24 hours 
for a response due to the work involved in preparing a detailed reply.
</p>

<b>Email: silverbeech@eircom.net</b>
<p>
Ask questions about any of our stock
Check on a parcel that has been shipped
Report a problem with an item

</p>  
  
  
<p>t's also possible to phone us on 059 9175530.</p>  
</p>
