
<% provide(:title, "Home") %>



<h1 class="centreText">Welcome to Silver Birch Garden Store</h1>



<h2 class="centreText">The Online Garden Centre!</h2>
<br>
<p>Our Garden Centre is full of colour at this time of year! 
We have everything any gardening enthusiast or novice could possibly require with something for all seasons. 
<p>
We stock a huge variety of flowers, shrubs, trees and tools.
We have exceptional offers on many of your favourite summer flowers and shrubs.
</p>
<p>
Our expert horticulturists are always on hand to answer any questions you may have and to advise you on what type of plants would best suit your garden. 
Don't hesitate to <a href = "/help">contact us</a> should your require assistance. 
</p>
<p>
We are proud to be a sustainable business. We stock a huge range of organically grown plants carfully sourced from top quality nurseries.
</p>

<br>

<%= render 'layouts/categories' %>
<br>
<%= render 'layouts/search' %>
<br>

<%= render 'layouts/popularProducts' %>

