<div id="itemsContainer">
  <h1>Popular products</h1>
  
  
  <table id="customers">
    
    
    <% @orderitems.limit(10).order(id: :desc).each do |orderitem| %>
    <tr>
      
    <td>Product: <%= link_to orderitem.title, "/items" %></td>
    <td>Description: <%= orderitem.description %></td>
    <td>Price: <%= orderitem.price %></td>
    
    </tr>
    <% end %>
    
    
  </table>