<script> application.js </script>



<h1>Thank you. Payment has been made.</h1>



<br>
<br>
<button onclick="toggle_visibility('orderDetails')">Review Order Details</button>

<div id="orderDetails">
    
  Order Details go here.
  .
  .
  .
  .
  .
  .
  
</div>

<br>


<h1>You may also like....</h1>