.centreText{
    text-align:center;
}

#orderDetails { 
    
    display: none;
    margin: auto;
    width:80%;
    border: 3px solid black;
    padding: 10px;
    text-align: center;
}

#cartIcon{
    float:right;
}

.headSec {
    background: url("/assets/Site/sb5.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height:10px;
    background-color: #b3e0ff;
    width: 100%;
    margin-bottom:10px;
    overflow: auto;
    
}

.headSec h1 {
    color: #FFFDD0;
    font-size: 80px;
    padding: 15px;
    text-align: center;
    
}

ul { 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;    
    
}

li {float:left;}

li a {
    display: block;
    color: #FFFDD0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

li:hover {
background-color: #426bf4;
}


.mainCont { 
    
    margin: auto;
    width:80%;
    border: 3px solid #b3e0ff;
    padding: 10px;
    text-align: center;
}

.welcomeIm {width: 30%;}


.foot {
    min-height: 80px;
    background-color: #333;
    color: #FFFDD0;
    width: 100%;
    margin-top: 10px;
    overflow: auto;
    
    
}

.container {
      background: url("/assets/Site/clubhead.png");
      background-repeat:no-repeat;
      background-position:right bottom;
      width: 100%;
      min-height: 700px;
}

#itemsContainer {
    width: 100%;
    text-align: center;
    
    
}


#itemsContainer h1 {
   display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
    
    
}


.itemhols {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: inline-block;
    width: 22%;
    padding:10px;
    min-height: 300px;
   
}


.itemhols h1 {
   display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px
    
}


.itemhols p {
   display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px
    
}



.itemholsIm {
    width: 30%; 
    margin-left: auto; 
    margin-right: auto; 
    display: block;
    
}


.button {
    background-color: #426bf4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#customers {    
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
border-collapse: collapse;
width: 100%;
}

#customers td, #customers th {
border: 1px solid #ddd;
padding: 8px;
}
    
#customers tr:nth-child(even){
background-color: #f2f2f2;
}

#customers tr:hover {
background-color: #ddd;
}

#customers th {    
padding-top: 12px;    
padding-bottom: 12px;    
text-align: left;    
background-color: grey;    
color: white;
}

