<footer class="foot">
  
 
  <h1>silverbeech.ie</h1>
  
  <div style="margin: auto; 
    width: 150px;
    border: 3px white;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    vertical-align: top;"> 
    
    <ul>
        <li><%= link_to "Home",  "/" %></li>
        <li><%= link_to "Products",  "/items" %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Help", help_path %></li>
    </ul>
    </div>
  
  <div style="float:right; font-size: 20px; vertical-align: top;"><p>© 2018 silverbeech.ie</p></div>
</footer>