<footer class="foot">
  <a href="/cart/clear" class="button">Clear Cart</a>
  
  <% if user_signed_in? %>
  <%= link_to "Update Profile", edit_user_registration_path %>
  <% end %>
  
  <a href="/orders" class="button">View Orders</a>
  <!--this one works if you have created a scaffold-->
  <%= link_to "Orders Also", orders_path %>
  
  <h1>This is the Footer</h1>
</footer>